<div class="card my-4" id="post-<%=i._id %>">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <li>
            <p>
                <%if(locals.user && locals.user.id==i.user.id){%>
                    <p>
                        <a class="delete-post-button" href="/posts/destroy/<%=i._id %>">X</a>
                    </p>    
                <%}%>
                <small>
                    <%= i.content %>
                </small>
                <small>
                    <%= i.user.name %>
                </small>
                <br>
                <small>
                    <%if(locals.user){%>
                        <a class = "toggle-like-button" data-likes = "<%=i.likes.length%>" href="/likes/toggle/?id=<%=i._id%>&type=Post">
                            <%=i.likes.length%> Likes
                        </a>    
                    <%}else{%>
                        <%=i.likes.length%> Likes
                    <%}%>
                </small>
            </p>   
            
        
        </li>
    </div>
    <%if(locals.user){%>
        
        <div class="card-footer text-muted">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" 
            data-target="#post-<%=i._id %>-collapse" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            <div id="post-<%=i._id %>-collapse" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <div>
                        <%if(locals.user){%>
                            <form action="/comments/create" method="POST" id="post-<%=i._id%>-comments-form">
                                <input type="text" name="content" placeholder="Type here to comment">
                                <input type="hidden" name="post" value="<%=i._id%>">
                                <input type="submit" value="Add Comment">
                            </form>
                        <%}%>
                    </div> 
                
                        
                    <div class="post-comments-list">
                        <ul id="post-comments-<%=i._id%>">
                            <% for(comment of i.comments){%>
                                <%- include('_comments'); %>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        
        <%}%>
  </div>



