<link rel="stylesheet" href="<%= assetPath('css/chats.css') %>" />

<div id="chat-flex">
  <div class="chat-flex-child" id="chat-room-name">
    <div class="chat-room-users">
      <h2>Chat Room</h2>
    </div>
    <div id="roomlist">
      <%for(friend of friends.friendship){%>
        <div class="chat-list" id="friend-<%=friend._id%>" data-friendId="<%=friend._id%>">
          <%=friend.name%>
        </div>  
      <%}%>
    </div>
  </div>

  <div class="chat-flex-child chat-room-display" id="chat-room-display1">
    <div class="user-chat-box">
      <ul class="chat-messages-list"></ul>
      <div class="chat-message-input-container">
        <input class="chat-message-input" placeholder="Type message here" />
        <button class="send-message">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('javascript/chat_engine.js') %>"></script>
