<link rel="stylesheet" href="<%= assetPath('css/chats.css') %>" />

<div id="chat-flex">
  <div class="chat-flex-child" id="chat-room-name">
    <div class="chat-room-users">
      <h2>Chat Room</h2>
    </div>
    <div id="roomlist">
      <%for(friend of friends.friendship){%>
      <div
        class="chat-list"
        id="friend-<%=friend._id%>"
        data-friendId="<%=friend._id%>"
      >
        <div class="friend-wrapper">
          <div class="friend-avatar">
            <%if(friend.avatar){%>
            <img src="<%=friend.avatar%>" />
            <%}else{%>
            <img
              src="<%= assetPath('images/codeial-default-avatar2.png') %>"
              alt="image"
            />
            <%}%>
          </div>
          <div class="friend-name"><%=friend.name%></div>
        </div>
      </div>
      <%}%>
    </div>
  </div>

  <div class="chat-flex-child chat-room-display">
    <div class="user-chat-box">
      <div class="chat-header">
        <div class="header-avatar">
          <img
            src="<%= assetPath('images/codeial-default-avatar2.png') %>"
            alt="image"
          />
        </div>
        <div class="header-name">Harsh Verma</div>
      </div>
      <div class="chat-messages-list-style">
        <div class="self-message">
          <div class="self-user">
            <div class="message-content-self">iiiiiiiii</div>
          </div>
        </div>
        <div class="other-message">
          <div class="other-user">
            <div class="other-user-image">
              <img
                src="<%= assetPath('images/codeial-default-avatar2.png') %>"
                alt="image"
              />
            </div>
            <div class="message-content-other">Hiiiiiiii</div>
          </div>
        </div>
      </div>
      <div class="chat-message-input-container">
        <input class="chat-message-input" placeholder="Type message here" />
        <button id="send-message">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('javascript/chat_engine.js') %>"></script>
