<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="/css/home.css">

<div id="home-flex">
    <div class="home-flex-child" id="user-dashboard">
        <div class="card m-4" style="width: 18rem;">
            <div id="dashboard-pic">
                <%if(locals.user){%>
                    <%if(locals.user.avatar){%>
                        <img src="<%=locals.user.avatar%>" alt="image">
                    <%}else{%>
                        <img src="/images/codeial-default-avatar2.png" alt="image">
                    <%}%>    
                <%}%>
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="home-flex-child" id="post-info">
        <div class="card m-4">
            <div class="card-header">
              Posts
            </div>
            <div class="card-body">
                <h5 class="card-title">Hey, tell your friends about you</h5>
                <%if(locals.user){%>
                    <form action="/posts/create" id="new-post-form" method="POST">
                        <textarea name="content" cols="50" rows="3" required></textarea>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Post">
                    </form>    
                <%}%>
            </div>
        </div>
        
        <div id="post-list-container">
            <div>
                <%for(i of posts){%>
                    
                        <%- include('_post'); %>
                <%}%>
                </div>
        </div>
    </div>

    <div class="home-flex-child right-text" id="user-info">
        <div>
            <h4>Users</h4>
            <%for(u of all_users){%>
                <div class="list-group-item list-group-item-action list-group-item-info d-flex flex-row profile-info">
                    <h3 class="profile-pic-holder">
                        <%if(u.avatar){%>
                            <img src="<%=u.avatar%>" alt="image">
                        <%}else{%>
                            <img src="/images/codeial-default-avatar2.png" alt="image">
                        <%}%>
                        
                    </h3>
                    <p>
                        <a href="/users/profile/<%=u._id%>"><%=u.name%></a>
                    </p>
                   
                </div>    
            <%}%>
        </div>
        <div>
            <%if(locals.user){%>
                <h4>Friends</h4>
                <%for(friends of all_friends.friendship){%>
                    <div class="list-group-item list-group-item-action list-group-item-info d-flex flex-row profile-info">
                        <h3 class="profile-pic-holder">
                            <%if(u.avatar){%>
                                <img src="<%=friends.avatar%>" alt="image">
                            <%}else{%>
                                <img src="/images/codeial-default-avatar2.png" alt="image">
                            <%}%>
                            
                        </h3>
                        <p>
                            <a href="/users/profile/<%=friends._id%>"><%=friends.name%></a>
                        </p>    
                    </div>
                <%}%>    
            <%}%>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<script src="/javascript/home_post_comments.js"></script>
<script src="/javascript/home_posts.js"></script>
<script src="/javascript/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>

<script>
    $('.post-date').each(function(){
        let selfdate = $(this).text();
       selfdate =  selfdate.trim();
        // console.log(selfdate)
        // let time = selfdate.substring(17,21);
        let month = selfdate.substring(4,7);
        let date = selfdate.substring(8,10);
        // console.log(date)

        let newDate = date+" "+month
        // console.log(newDate)
        $(this).text(newDate)
    })
</script>